.bg-grey-2 {

    background-color: #2e2e2e;

}

.bg-grey-3 {

    background-color: #202020;

}

.bg-grey-1 {

    background-color: #3a3a3a;

}

.text-yellow-1 {

    color: #f2bf46;

}

.text-yellow-2 {

    color: #bb8f28;

}

.text-yellow-3 {

    color: #a78536;

}

