.bg-grey-2 {

    background-color: #2e2e2e;

}

.bg-grey-3 {

    background-color: #202020;

}

.bg-grey-1 {

    background-color: #3a3a3a;

}

.text-yellow-1 {

    color: #f2bf46;

}

.text-yellow-2 {

    color: #bb8f28;

}

.text-yellow-3 {

    color: #a78536;

}

.h-144 {
    height: 36rem;
    width: 32rem;
}

.plc {
    width: 40rem;
    height: 30rem;  
    color: linear-gradient(to left bottom, #9850e6, #8e43dd, #8336d4, #7928cc, #6e16c3);
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}   
	100% {
		opacity: 0.65;
	}
}
